<header>
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
      <p class="logo"><span class="logo">SoftUni Forum</span></p>
    </div>
    <div class="mini-navbar">
      <!-- <ul *ngIf="!isLoggedIn; else loggedInTemplate">
        <li>
          <a routerLink="/auth/login">Login</a>
        </li>
        <li>
          <a routerLink="/auth/register">Register</a>
        </li>
      </ul> -->



      <!-- <ng-template [ngIf]="!isLoggedIn" [ngIfElse]="loggedInTemplate">
        <ul>
          <li>
            <a routerLink="/auth/login">Login</a>
          </li>
          <li>
            <a routerLink="/auth/register">Register</a>
          </li>
        </ul>
      </ng-template>

      <ng-template #loggedInTemplate>
        <ul *ngIf="isLoggedIn">
          <li>
            <a routerLink="/auth/profile">{{user?.fistName}}'s profile</a>
          </li>
          <li>
            <a routerLink="/auth/logout">Logout</a>
          </li>
        </ul>
      </ng-template> -->

      <ng-template #loggedOutTemplate>
        <ul>
          <li>
            <a routerLink="/auth/login">Login</a>
          </li>
          <li>
            <a routerLink="/auth/register">Register</a>
          </li>
        </ul>
      </ng-template>

      <ng-template #loggedInTemplate>
        <ul>
          <li>
            <a routerLink="/auth/profile">{{user?.username}}'s profile</a>
          </li>
          <li>
            <a routerLink="/auth/logout">Logout</a>
          </li>
        </ul>
      </ng-template>

      <ng-container *ngTemplateOutlet="isLoggedIn ? loggedInTemplate : loggedOutTemplate"></ng-container>
    </div>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/theme/recent">Themes</a>
      </li>
      <li>
        <a routerLink="/theme/new">New Theme</a>
      </li>
    </ul>
  </nav>

</header>