<form #form="ngForm" class="login" (ngSubmit)="loginHandler(form)">
  <fieldset>
    <h2>Login Form</h2>

    <p class="field field-icon">
      <label for="email"><span><i class="fas fa-envelope"></i></span></label>
      <input #emailInput="ngModel" class="input-error" ngModel required [appEmail]="appEmailDomains" type="email"
        name="email" id="email" placeholder="john.doe@gmail.com">
    </p>

    <!-- <select ngModel="456" name="test" multiple>
      <option value="123">123</option>
      <option value="456">456</option>
    </select>

    {{form.value | json}} -->
    <!-- <input #files type="file" ngModel required> -->

    <ng-container *ngIf="emailInput.touched">
      <p class="error" *ngIf="emailInput.errors?.['required']">
        Email is required!
      </p>
      <p class="error" *ngIf="emailInput.errors?.['appEmailValidator']">
        Email is not valid!
      </p>
    </ng-container>

    <p class="field field-icon">
      <label for="password"><span><i class="fas fa-lock"></i></span></label>
      <input type="password" ngModel #passwordInput="ngModel" name="password" id="password" placeholder="******"
        required [minlength]="5">
    </p>
    <ng-container *ngIf="passwordInput.touched">
      <p class="error" *ngIf="passwordInput.errors?.['required']">
        Password is required!
      </p>
      <p class="error" *ngIf="passwordInput.errors?.['minlength']">
        Password must be at least 5 characters!
      </p>
    </ng-container>

    <button [disabled]="form.invalid">Login</button>

    <p class="text-center">
      Have an account?
      <a href="#">Register</a>
    </p>

  </fieldset>
</form>