<nav>
  <a routerLink="/login">Login</a>
  <a routerLink="/register">Register</a>
</nav>
<router-outlet></router-outlet>

<!-- <ng-template #myTemplate>HELLO AGAIN</ng-template>
<div appMyRouterLink="/path/to/someting" [template]="myTemplate">HELLO WORLD</div>

<div *ngIf="true">
  123
</div>

<ng-template [ngIf]="true">
  <div>123</div>
</ng-template>

<button (click)="myIfValue = !myIfValue">Toggle my if value</button>

<div *appMyIf="myIfValue">
  MyIf if working
</div>

<ng-template [appMyIf]="myIfValue" #refToMyIf="appMyIf">
  <div>
    MyIf if working
  </div>
</ng-template>

<ng-template #tmp let-value="value" let-valuee>
  SEPARATE TEMPLATE FOR MYIF
  {{value}} - {{valuee}}
</ng-template>

<ng-container [appMyIf]="myIfValue" [template]="tmp"></ng-container> -->