.container {
    width: 90%;
    margin: auto;
    padding-bottom: 4.5em;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

main {
    width: 50%;
}

app-recent-posts {
  width: 29%;
}
